<!doctype html>
<html>
  <head>
    <title><%= appName %> - About</title>
  </head>
  <body>
    <h1>About <%= appName %></h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <p>
      <%= appName %> is a simple health & fitness app where users can log their
      workouts, track their progress over time, and analyse their training patterns.
    </p>
    <p>
      This app is built with Node.js, Express, EJS and MySQL
    </p>
  </body>
</html>
