<!doctype html>
<html>
  <head>
    <title><%= appName %> - About</title>
  </head>
  <body>
    <h1>About <%= appName %></h1>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/workouts/search">Search Workouts</a></li>
        <li><a href="/workouts/list">My Workouts</a></li>
        <li><a href="/workouts/add">Add Workout</a></li>
        <li><a href="/users/audit">Audit Log</a></li>
    </ul>
    </nav>


    <p>
      <%= appName %> is a simple health & fitness app where users can log their
      workouts, track their progress over time, and analyse their training patterns.
    </p>
    <p>
      This app is built with Node.js, Express, EJS and MySQL
    </p>
  </body>
</html>
