<!doctype html>
<html>
  <head>
    <title><%= appName %> - Home</title>
  </head>
  <body>
    <h1>Welcome to <%= appName %></h1>
    <p>This app will let you log your workouts and track your progress.</p>

    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/workouts/search">Search Workouts</a></li>
        <li><a href="/workouts/list">My Workouts</a></li>
        <li><a href="/workouts/add">Add Workout</a></li>
    </ul>
    </nav>


    <h2>Getting Started</h2>
    <p>Soon adding features to log workouts, view history, and more.</p>
  </body>
</html>
